@import "../main";

.container {
  @include mobile {
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }
  @include tablet {
    width: 80%;
    padding: 0 20px;
    margin: 0 auto;
  }
  @include desktop {
    width: 60%;
    min-height: 200px;
    padding: 0 40px;
    margin: 0 auto;
  }

  header {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    color: $light-text;
    font-size: 24px;

    @include mobile {
      text-align: center;
    }
  }
}
