@import "../main.scss";

.list-item-container {
  display: grid;
  gap: 8px;
  margin-top: 32px;

  .list-item {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: $dark-text;
    justify-content: space-between;
    padding: 16px 22px;
    border-radius: 12px;
    border: solid $second-color 0.2px;

    .list-item-title {
      color: $light-text;
    }

    .overLine {
      text-decoration: line-through;
    }

    .priority-pin {
      color: white;
      border-radius: 12px;
      font-size: 8px;
      padding: 6px;
    }

    .primary {
      background-color: crimson;
    }

    .secondary {
      background-color: #217175;
    }

    .tertiary {
      background-color: #b9592f;
    }

    .list-item-task {
      display: flex;
      width: 100%;
      gap: 2rem;
    }

    .list-item-transitions {
      display: flex;
      align-items: end;
    }
  }
}


