// Define variables
$main-color: #c01515;
$second-color: rgb(182, 182, 182);
$light-text: #f8f1f1;
$dark-text: #500309;
$main-font: 'Open Sans', sans-serif;
$font-size-base: 16px;

// Define mixins for responsive design
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

// Use variables and mixins in styles
body {
  font-family: $main-font;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $main-color;
}

h1, h2, h3 {
  font-family: $main-font;
}

* {
  margin: 0;
  padding: 0;
}

.container {

  @include mobile {
    width: 100%;
    padding: 0;
  }
  @include tablet {
    width: 80%;
    padding: 0 20px;
  }
  @include desktop {
    width: 60%;
    min-height: 200px;
    padding: 0 40px;
    margin: 0 auto;
  }

  header {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    color: $light-text;
    font-size: 24px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $dark-text;
    color: white;
    text-decoration: none;
    width: 160px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: darken($main-color, 10%);
    }
  }

  .form-input {
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 12px;
  }
}

